.header{
    background-color: black; 
    display: flex;
    justify-content: space-around;    
    align-items: center;
    min-width: 650px;  
}
.hero  ul{
    display: flex;
    gap: 2rem;
}
a{
    text-decoration: none;
    color: white;
}
.App-logoreact{
    width: 5rem;
    height: 6.5rem;   
}
